@import "../_partials/helpers";


.container{
  min-height: 100vh;
}
.cookies-bar{

  display: none;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid gray;
  position: sticky;
  bottom: 0;
  background-color: darkgray;
  padding: toRem(10px);
  &.active{
    display: block;
  }
  &__box{
    margin-inline:auto;
    max-width: toRem(1200px);
    max-height: toRem(200px);
  }
  &__title{}
  &__text{}
  &__accept--button{}
}